In [68]:
import pandas as pd
airports = pd.read_csv('/Users/annettechiu/Downloads/airports.csv')
airport_freq = pd.read_csv('/Users/annettechiu/Downloads/airport-frequencies.csv')
runways = pd.read_csv('/Users/annettechiu/Downloads/runways.csv')
navaids = pd.read_csv('/Users/annettechiu/Downloads/navaids.csv')
countries = pd.read_csv('/Users/annettechiu/Downloads/countries.csv')
regions = pd.read_csv('/Users/annettechiu/Downloads/regions.csv')

In [69]:
import numpy as np
import math
import matplotlib.pyplot as plt

In [73]:
import pandas as pd # to load cities dataset
from geopy import distance # to calculate distance on the surface

# 從網站導入飛機資料庫 https://ourairports.com/data/ 
儲存飛機資料庫到airports = pd.read_csv('/Users/annettechiu/Downloads/airports.csv')
、機場飛機頻率、機場跑道

In [56]:
import math
# Python 3 program for the
# haversine formula
def haversine(lat1, lon1, lat2, lon2):
     
    # distance between latitudes
    # and longitudes
    dLat = (lat2 - lat1) * math.pi / 180.0
    dLon = (lon2 - lon1) * math.pi / 180.0
 
    # convert to radians
    lat1 = (lat1) * math.pi / 180.0
    lat2 = (lat2) * math.pi / 180.0
 
    # apply formulae
    a = (pow(math.sin(dLat / 2), 2) +
         pow(math.sin(dLon / 2), 2) *
             math.cos(lat1) * math.cos(lat2));
    rad = 6371
    c = 2 * math.asin(math.sqrt(a))
    return rad * c

# Driver code
if __name__ == "__main__":
    lat1 = 35.289448
    lon1 = 79.79672
    lat2 = 35.290348
    lon2 = 79.796616
     
    print(haversine(lat1, lon1,lat2, lon2), "K.M.")

0.10051960641905637 K.M.

In [84]:
# 建立地圖與設定位置
fmap = folium.Map(location=[35.709635, 139.810851], zoom_start=100)
fmap  # 在notebook中顯示地圖

In [53]:
row_count = airports.shape[0] # 0 for row
column_count = airports.shape[1] # 1 for column
print("Number of rows:", row_count)
print("Number of columns:", column_count)

Number of rows: 78264
Number of columns: 18

In [61]:
from geopy.distance import geodesic
distance = geodesic((39.995304, 116.308264), (40.003304, 116.326759)).km  
print("距离：{:.3f}km".format(distance))

距离：1.812km

In [60]:
pip install geopy -i http://pypi.douban.com/simple --trusted-host pypi.douban.com

Looking in indexes: http://pypi.douban.com/simple
Collecting geopy
  Downloading https://mirrors.cloud.tencent.com/pypi/packages/e5/15/cf2a69ade4b194aa524ac75112d5caac37414b20a3a03e6865dfe0bd1539/geopy-2.4.1-py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 440 kB/s eta 0:00:01
Collecting geographiclib<3,>=1.52
  Downloading https://mirrors.cloud.tencent.com/pypi/packages/9f/5a/a26132406f1f40cf51ea349a5f11b0a46cec02a2031ff82e391c2537247a/geographiclib-2.0-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 23 kB/s eta 0:00:015
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.

In [76]:
airports.head(15)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,00AN,NaN,00AN,NaN,NaN,NaN
5,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
6,322127,00AS,small_airport,Fulton Airport,34.942803,-97.818019,1100.0,NaN,US,US-OK,Alex,no,00AS,NaN,00AS,NaN,NaN,NaN
7,6527,00AZ,small_airport,Cordes Airport,34.305599,-112.165001,3810.0,NaN,US,US-AZ,Cordes,no,00AZ,NaN,00AZ,NaN,NaN,NaN
8,6528,00CA,small_airport,Goldstone (GTS) Airport,35.354740,-116.885329,3038.0,NaN,US,US-CA,Barstow,no,00CA,NaN,00CA,NaN,NaN,NaN
9,324424,00CL,small_airport,Williams Ag Airport,39.427188,-121.763427,87.0,NaN,US,US-CA,Biggs,no,00CL,NaN,00CL,NaN,NaN,NaN
10,322658,00CN,heliport,Kitchen Creek Helibase Heliport,32.727374,-116.459742,3350.0,NaN,US,US-CA,Pine Valley,no,00CN,NaN,00CN,NaN,NaN,NaN
11,6529,00CO,closed,Cass Field,40.622202,-104.344002,4830.0,NaN,US,US-CO,Briggsdale,no,NaN,NaN,NaN,NaN,NaN,00CO
12,6531,00FA,small_airport,Grass Patch Airport,28.645500,-82.219002,53.0,NaN,US,US-FL,Bushnell,no,00FA,NaN,00FA,NaN,NaN,NaN
13,6532,00FD,closed,Ringhaver Heliport,28.846600,-82.345398,25.0,NaN,US,US-FL,Riverview,no,NaN,NaN,NaN,NaN,NaN,00FD
14,6533,00FL,small_airport,River Oak Airport,27.230900,-80.969200,35.0,NaN,US,US-FL,Okeechobee,no,00FL,NaN,00FL,NaN,NaN,NaN

In [77]:
# to start with let's filter only 2 capitals. Rome and Paris.
ropa = airports[airports["id"].isin(["6523","6531"])].reset_index()
ropa

,index,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
1,12,6531,00FA,small_airport,Grass Patch Airport,28.645500,-82.219002,53.0,NaN,US,US-FL,Bushnell,no,00FA,NaN,00FA,NaN,NaN,NaN

In [79]:
d = distance.distance((ropa.loc[0, "latitude_deg"], ropa.loc[0, "longitude_deg"]), (ropa.loc[1, "latitude_deg"], ropa.loc[1, "longitude_deg"]))
d, d.km, d.miles

(Distance(1432.4069532337544), 1432.4069532337544, 890.056416299905)

In [80]:
results = []
for f in [distance.distance, distance.great_circle, distance.geodesic]:
    for mes in ["kilometers","km","miles","mi","nautical","nm","feet","ft"]:
        d = f((ropa.loc[0, "latitude_deg"], ropa.loc[0, "longitude_deg"]), (ropa.loc[1, "latitude_deg"], ropa.loc[1, "longitude_deg"]))
        results.append({"method": f.__name__, "measurement": mes, "value": getattr(d, mes)})

# show as dataframe
results_df = pd.DataFrame(results)
results_df.pivot_table(index="method", columns="measurement", values="value")

measurement,feet,ft,kilometers,km,mi,miles,nautical,nm
method,,,,,,,,
geodesic,4.699498e+06,4.699498e+06,1432.406953,1432.406953,890.056416,890.056416,773.437880,773.437880
great_circle,4.706066e+06,4.706066e+06,1434.409056,1434.409056,891.300465,891.300465,774.518929,774.518929

In [81]:
# the distnace for various ellipsiods
for ellipsoid in distance.ELLIPSOIDS:
    for mes in ["kilometers","km","miles","mi","nautical","nm","feet","ft"]:
        d = distance.geodesic((ropa.loc[0, "latitude_deg"], ropa.loc[0, "longitude_deg"]), 
                              (ropa.loc[1, "latitude_deg"], ropa.loc[1, "longitude_deg"]), ellipsoid=ellipsoid)
        results.append({"method": f"geodesic: {ellipsoid}", "measurement": mes, "value": getattr(d, mes)})

# show as dataframe
results_df = pd.DataFrame(results)
results_df.pivot_table(index="method", columns="measurement", values="value")

measurement,feet,ft,kilometers,km,mi,miles,nautical,nm
method,,,,,,,,
geodesic,4.699498e+06,4.699498e+06,1432.406953,1432.406953,890.056416,890.056416,773.437880,773.437880
geodesic: Airy (1830),4.699118e+06,4.699118e+06,1432.291017,1432.291017,889.984377,889.984377,773.375279,773.375279
geodesic: Clarke (1880),4.699387e+06,4.699387e+06,1432.373152,1432.373152,890.035413,890.035413,773.419628,773.419628
geodesic: GRS-67,4.699515e+06,4.699515e+06,1432.412031,1432.412031,890.059572,890.059572,773.440622,773.440622
geodesic: GRS-80,4.699498e+06,4.699498e+06,1432.406953,1432.406953,890.056416,890.056416,773.437880,773.437880
geodesic: Intl 1924,4.699633e+06,4.699633e+06,1432.448032,1432.448032,890.081941,890.081941,773.460060,773.460060
geodesic: WGS-84,4.699498e+06,4.699498e+06,1432.406953,1432.406953,890.056416,890.056416,773.437880,773.437880
great_circle,4.706066e+06,4.706066e+06,1434.409056,1434.409056,891.300465,891.300465,774.518929,774.518929

In [36]:
airport_freq.head(5)

,id,airport_ref,airport_ident,type,description,frequency_mhz
0,70518,6528,00CA,CTAF,CTAF,122.9
1,307581,6589,01FL,ARCAL,NaN,122.9
2,75239,6589,01FL,CTAF,CEDAR KNOLL TRAFFIC,122.8
3,60191,6756,04CA,CTAF,CTAF,122.9
4,59287,6779,04MS,UNIC,UNICOM,122.8

In [35]:
runways.head(5)

,id,airport_ref,airport_ident,length_ft,width_ft,surface,lighted,closed,le_ident,le_latitude_deg,le_longitude_deg,le_elevation_ft,le_heading_degT,le_displaced_threshold_ft,he_ident,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT,he_displaced_threshold_ft
0,269408,6523,00A,80.0,80.0,ASPH-G,1,0,H1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,255155,6524,00AK,2500.0,70.0,GRVL,0,0,N,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN
2,254165,6525,00AL,2300.0,200.0,TURF,0,0,01,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN
3,506792,506791,00AN,4517.0,60.0,GVL,0,0,3,NaN,NaN,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN
4,270932,6526,00AR,40.0,40.0,GRASS,0,0,H1,NaN,NaN,NaN,NaN,NaN,H1,NaN,NaN,NaN,NaN,NaN

In [6]:
airports[airports.ident == 'KLAX'].id

37775    3632
Name: id, dtype: int64

In [7]:
airports.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [55]:
airports[(airports.iso_region == 'US-CA') & (airports.type == 'seaplane_base')].head(3)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
1033,7436,0O0,seaplane_base,San Luis Reservoir Seaplane Base,37.058300,-121.125999,544.0,NaN,US,US-CA,Los Banos,no,0O0,NaN,0O0,NaN,NaN,NaN
2616,8877,22CA,seaplane_base,Commodore Center Seaplane Base,37.878893,-122.512697,NaN,NaN,US,US-CA,Mill Valley,no,22CA,NaN,22CA,NaN,NaN,NaN
6599,12298,5CA9,seaplane_base,Konocti - Clear Lake Seaplane Base,38.977699,-122.718002,1326.0,NaN,US,US-CA,Kelseyville,no,5CA9,NaN,5CA9,NaN,NaN,NaN

In [9]:
airports[(airports.iso_region == 'US-CA') & (airports.type == 'large_airport')][['ident', 'name', 'municipality']]

      ident                                             name   municipality
36380  KCMA                  Camarillo International Airport      Camarillo
37775  KLAX                Los Angeles International Airport    Los Angeles
38307  KOAK       Metropolitan Oakland International Airport        Oakland
38363  KONT                    Ontario International Airport        Ontario
39916  KSAN                  San Diego International Airport      San Diego
39956  KSFO              San Francisco International Airport  San Francisco
39977  KSJC  Norman Y. Mineta San Jose International Airport       San Jose
39999  KSMF                 Sacramento International Airport     Sacramento
40005  KSNA   John Wayne Orange County International Airport      Santa Ana

In [10]:
airport_freq[airport_freq.airport_ident == 'KLAX'].sort_values('type')

          id  airport_ref airport_ident  type description  frequency_mhz
12211  60767         3632          KLAX   APP   SOCAL APP          36.07
12212  60766         3632          KLAX   APP   SOCAL APP         124.30
12213  60768         3632          KLAX  ATIS        ATIS         133.80
12214  60769         3632          KLAX   CLD    CLNC DEL         121.40
12215  60770         3632          KLAX   DEP   SOCAL DEP         124.30
12216  60771         3632          KLAX   GND         GND         121.65
12217  60772         3632          KLAX  MISC          CG          34.50
12218  60773         3632          KLAX  MISC          CG         898.40
12219  60774         3632          KLAX   OPS          AF          37.22
12220  60775         3632          KLAX   TWR         TWR         119.80
12221  60776         3632          KLAX  UNIC      UNICOM         122.95

In [11]:
airport_freq[airport_freq.airport_ident == 'KLAX'].sort_values('type', ascending=False)

          id  airport_ref airport_ident  type description  frequency_mhz
12221  60776         3632          KLAX  UNIC      UNICOM         122.95
12220  60775         3632          KLAX   TWR         TWR         119.80
12219  60774         3632          KLAX   OPS          AF          37.22
12217  60772         3632          KLAX  MISC          CG          34.50
12218  60773         3632          KLAX  MISC          CG         898.40
12216  60771         3632          KLAX   GND         GND         121.65
12215  60770         3632          KLAX   DEP   SOCAL DEP         124.30
12214  60769         3632          KLAX   CLD    CLNC DEL         121.40
12213  60768         3632          KLAX  ATIS        ATIS         133.80
12211  60767         3632          KLAX   APP   SOCAL APP          36.07
12212  60766         3632          KLAX   APP   SOCAL APP         124.30

In [12]:
airports[airports.type.isin(['heliport', 'balloonport'])]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
10,322658,00CN,heliport,Kitchen Creek Helibase Heliport,32.727374,-116.459742,3350.0,NaN,US,US-CA,Pine Valley,no,00CN,NaN,00CN,NaN,NaN,NaN
16,6535,00GE,heliport,Caffrey Heliport,33.887982,-84.736983,957.0,NaN,US,US-GA,Hiram,no,00GE,NaN,00GE,NaN,NaN,NaN
17,6536,00HI,heliport,Kaupulehu Heliport,19.832881,-155.978347,43.0,OC,US,US-HI,Kailua-Kona,no,00HI,NaN,00HI,NaN,NaN,NaN
22,6540,00IN,heliport,St Mary Medical Center Heliport,41.511398,-87.260597,634.0,NaN,US,US-IN,Hobart,no,00IN,NaN,00IN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78201,351677,ZW-0055,heliport,Elephant Hills Heliport,-17.911990,25.828020,3054.0,AF,ZW,ZW-MN,Victoria Falls,no,NaN,NaN,NaN,NaN,NaN,NaN
78202,351678,ZW-0056,heliport,Chikopokopo Heliport,-17.964380,25.809930,3012.0,AF,ZW,ZW-MN,Masuwe,no,NaN,NaN,NaN,NaN,NaN,NaN
78203,351679,ZW-0057,heliport,Masuwe Heliport,-17.965880,25.810550,3005.0,AF,ZW,ZW-MN,Masuwe,no,NaN,NaN,NaN,NaN,NaN,NaN
78205,351689,ZW-0059,heliport,Big Four Heliport,-17.913540,25.832350,2986.0,AF,ZW,ZW-MN,Victoria Falls,no,NaN,NaN,NaN,NaN,NaN,NaN
78259,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad

In [13]:
airports[~airports.type.isin(['heliport', 'balloonport'])]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,00AN,NaN,00AN,NaN,NaN,NaN
5,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78258,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,"Dadong, Shenyang",no,ZYYY,NaN,NaN,NaN,NaN,NaN
78260,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
78261,346788,ZZ-0003,small_airport,Fainting Goat Airport,32.110587,-97.356312,690.0,NaN,US,US-TX,Blum,no,87TX,NaN,87TX,NaN,NaN,NaN
78262,342102,ZZZW,closed,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,no,NaN,NaN,NaN,NaN,NaN,"ZZZW, ZZZW, ZYW, YK96"
78263,313629,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"

In [14]:
airports.groupby(['iso_country', 'type']).size()

iso_country  type
AD           closed              1
             heliport            2
AE           closed              4
             heliport          203
             large_airport       4
                              ...
ZW           closed              6
             heliport            5
             large_airport       1
             medium_airport      8
             small_airport     135
Length: 988, dtype: int64

In [15]:
airports.groupby(['iso_country', 'type']).size().to_frame('size').reset_index().sort_values(['iso_country', 'size'], ascending=[True, False])

    iso_country            type  size
1            AD        heliport     2
0            AD          closed     1
3            AE        heliport   203
7            AE   small_airport    29
5            AE  medium_airport     9
..          ...             ...   ...
987          ZW   small_airport   135
986          ZW  medium_airport     8
983          ZW          closed     6
984          ZW        heliport     5
985          ZW   large_airport     1

[988 rows x 3 columns]

In [16]:
airports.groupby(['iso_country', 'type']).size()

iso_country  type
AD           closed              1
             heliport            2
AE           closed              4
             heliport          203
             large_airport       4
                              ...
ZW           closed              6
             heliport            5
             large_airport       1
             medium_airport      8
             small_airport     135
Length: 988, dtype: int64

In [17]:
airports.groupby(['iso_country', 'type']).size().to_frame('size').reset_index().sort_values(['iso_country', 'size'], ascending=[True, False])

    iso_country            type  size
1            AD        heliport     2
0            AD          closed     1
3            AE        heliport   203
7            AE   small_airport    29
5            AE  medium_airport     9
..          ...             ...   ...
987          ZW   small_airport   135
986          ZW  medium_airport     8
983          ZW          closed     6
984          ZW        heliport     5
985          ZW   large_airport     1

[988 rows x 3 columns]

In [18]:
airports[airports.iso_country == 'US'].groupby('type').filter(lambda g: len(g) > 1000).groupby('type').size().sort_values(ascending=False)

type
small_airport    15000
heliport          7914
closed            6470
dtype: int64

In [20]:
runways.agg({'length_ft': ['min', 'max', 'mean', 'median']})

           length_ft
min         0.000000
max     30000.000000
mean     3238.656964
median   2700.000000

In [21]:
airport_freq.merge(airports[airports.ident == 'KLAX'][['id']], left_on='airport_ref', right_on='id', how='inner')[['airport_ident', 'type', 'description', 'frequency_mhz']]

   airport_ident  type description  frequency_mhz
0           KLAX   APP   SOCAL APP          36.07
1           KLAX   APP   SOCAL APP         124.30
2           KLAX  ATIS        ATIS         133.80
3           KLAX   CLD    CLNC DEL         121.40
4           KLAX   DEP   SOCAL DEP         124.30
5           KLAX   GND         GND         121.65
6           KLAX  MISC          CG          34.50
7           KLAX  MISC          CG         898.40
8           KLAX   OPS          AF          37.22
9           KLAX   TWR         TWR         119.80
10          KLAX  UNIC      UNICOM         122.95

In [22]:
pd.concat([airports[airports.ident == 'KLAX'][['name', 'municipality']], airports[airports.ident == 'KLGB'][['name', 'municipality']]])

                                       name municipality
37775     Los Angeles International Airport  Los Angeles
37801  Long Beach Airport (Daugherty Field)   Long Beach

In [24]:
df1 = pd.DataFrame({'id': [1, 2], 'name': ['Harry Potter', 'Ron Weasley']})

In [25]:
df2 = pd.DataFrame({'id': [3], 'name': ['Hermione Granger']})

In [26]:
pd.concat([df1, df2]).reset_index(drop=True)

   id              name
0   1      Harry Potter
1   2       Ron Weasley
2   3  Hermione Granger

In [27]:
airports.loc[airports['ident'] == 'KLAX', 'home_link'] = 'http://www.lawa.org/welcomelax.aspx'

In [38]:
airports.loc[airports['ident'] == 'KLAX', 'home_link'] = 'http://www.lawa.org/welcomelax.aspx'

In [41]:
regions.head(5)

,id,code,local_code,name,continent,iso_country,wikipedia_link,keywords
0,302811,AD-02,02,Canillo Parish,EU,AD,https://en.wikipedia.org/wiki/Canillo,Airports in Canillo Parish
1,302812,AD-03,03,Encamp Parish,EU,AD,https://en.wikipedia.org/wiki/Encamp,Airports in Encamp Parish
2,302813,AD-04,04,La Massana Parish,EU,AD,https://en.wikipedia.org/wiki/La_Massana,Airports in La Massana Parish
3,302814,AD-05,05,Ordino Parish,EU,AD,https://en.wikipedia.org/wiki/Ordino,Airports in Ordino Parish
4,302815,AD-06,06,Sant Julià de Lòria Parish,EU,AD,https://en.wikipedia.org/wiki/Sant_Julià_de_Lòria,Airports in Sant Julià de Lòria Parish

In [42]:
countries.head(5)

,id,code,name,continent,wikipedia_link,keywords
0,302672,AD,Andorra,EU,https://en.wikipedia.org/wiki/Andorra,Andorran airports
1,302618,AE,United Arab Emirates,AS,https://en.wikipedia.org/wiki/United_Arab_Emir...,"UAE,مطارات في الإمارات العربية المتحدة"
2,302619,AF,Afghanistan,AS,https://en.wikipedia.org/wiki/Afghanistan,NaN
3,302722,AG,Antigua and Barbuda,NaN,https://en.wikipedia.org/wiki/Antigua_and_Barbuda,Antiguan airports
4,302723,AI,Anguilla,NaN,https://en.wikipedia.org/wiki/Anguilla,NaN

In [52]:
fmap = folium.Map(location=[35.709635, 139.810851], zoom_start=16)
fmap  # 在notebook中顯示地圖